.home-component {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.home-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: #F4F3F1;
}

.home-nav-links {
    display: flex;
    flex-direction: row;
}

.home-nav-links span {
    font-size: 1.125em;
    font-weight: 600;
    padding: .8em .8em;
}

.home-landing-img {
    width: 100%;
    height: auto;

    margin: 1em 0;
}

.home-slider {
    margin: 1em 0;
}

.home-two-ad {
    display: flex;
    flex-direction: row;

    overflow-x:    auto;

    gap: 20px;

    max-height: min-content;
}

.home-two-ad-big {
    flex: 1 1 66%;
    overflow:  hidden;
}

.home-two-ad-big img {
    height: 100% !important;
}

.home-two-ad-small {
    flex: 1 1 33%;
    overflow:  hidden;
}

.home-two-ad img {
    height: auto;
    max-width: 100%;
}