.itemdetails-component {
    height: fit-content;
    height: 200vh;
    width: 100%;
    background: white;
}

.itemdetails-content {
    height: inherit;

    display: flex;
    flex-direction: column;

    padding: 35px 10px;
}

.itemdetails-trace {
    display: flex;
    flex-direction: row;
    font-size: .75em;
}

.itemdetails-trace span {
    margin: 0    .2rem;
}

.itemdetails-tab {
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;
}

.itemdetails-tab-icons {
    display: flex;
    flex-direction: row;
}

.itemdetails-tab-icons svg {
    margin: 0 .4rem;
}

.itemdetails-title {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 10px 0;
}

.itemdetails-title-model {
    font-size: 1.55rem;
    font-weight: 600;
}

.itemdetails-title-name {
    font-size: 1.125rem;
    font-weight: 600;
    color: #5F5F5F;

    margin-bottom: 12px;
}

.itemdetails-tags {
    font-size: .75rem;
    line-height: .75rem;
    font-weight: 600;

    display: flex;
    flex-direction: row;

    margin-bottom: 12px;
}

.itemdetails-tags-authentic, .itemdetails-tags-condition {
    margin-right: 12px;
    background-color: #F4F3F1;

    padding: .35rem;
}

.itemdetails-details {
    display: flex;
    flex-direction: row;
}

.itemdetails-details-image {
    flex: 1 1 58%;
}

.itemdetails-details-buy {
    flex: 1 1 42%;

    display: flex;
    flex-direction: column;
}

.itemdetails-details-recentsales {
    background-color: #E9E8E3;
    text-align: left;

    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.25rem;
    display: flex;
    flex-direction: row;
    width: 100%;

    overflow: hidden;
}

.recentsales-img {
    position: relative;
    width: 48px;
    height: 48px;
    overflow: hidden;
}

.recentsales-count {
    margin-left: 1.25rem;

    display: flex;
}

.recentsales-count span {
    padding: 0.75rem 0;
}

.itemdetails-details-recentsales img {
    max-width: 150%;
    position: absolute;
    top: -10px;
    height: auto;

}
