.itemdetails-component {
    height: fit-content;
    /* height: 200vh; */
    width: 100%;
    background: white;
}

.itemdetails-content {
    height: inherit;

    display: flex;
    flex-direction: column;

    padding: 35px 10px;
}

.itemdetails-title {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 10px 0;
}

.itemdetails-title-model {
    font-size: 1.55rem;
    font-weight: 600;
}

.itemdetails-title-name {
    font-size: 1.125rem;
    font-weight: 600;
    color: #5F5F5F;

    margin-bottom: 12px;
}

.itemdetails-tags {
    font-size: .75rem;
    line-height: .75rem;
    font-weight: 600;

    display: flex;
    flex-direction: row;

    margin-bottom: 12px;
}

.itemdetails-tags-authentic, .itemdetails-tags-condition {
    margin-right: 12px;
    background-color: #F4F3F1;

    padding: .35rem;
}

.itemdetails-details {
    display: flex;
    flex-direction: row;
    
    /* height: 100%; */
}

.itemdetails-details-image {
    display: flex;

    align-items: center;
    justify-content: center;

    flex: 1 1 55%;
}

.itemdetails-details-image img {
    width: 480px;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.itemdetails-details-buy {
    display: flex;
    flex-direction: column;

    flex: 1 1 45%;

    /* justify-content: space-around; */
}

.itemdetails-details-recentsales {
    background-color: #E9E8E3;
    text-align: left;

    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.25rem;
    display: flex;
    flex-direction: row;
    width: 100%;

    margin-bottom: 1em;

    overflow: hidden;
}

.recentsales-img {
    position: relative;
    width: 48px;
    height: 48px;
    overflow: hidden;
}

.recentsales-count {
    margin-left: 1.25rem;

    display: flex;
}

.recentsales-count span {
    padding: 0.75rem 0;
}

.itemdetails-details-recentsales img {
    max-width: 150%;
    position: absolute;
    top: -10px;
    height: auto;

}

.itemdetails-lastsale {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-top: 1em;
}

.lastsale {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.lastsale-price {
    font-size: 1.25em;
    font-weight: 600;
}

.lastsale-change {
    font-size: .875em;
    font-weight: 600;

    color: #006340;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.lastsale-change span {
    padding-right: .3em;
}

.lastsale-options {
    display: flex;
    flex-direction: row;

    gap: 10px;
    align-items: center;

}

.lastsale-options button {
    all: unset;

    font-weight: 600;

    border: 1px solid black;
    background-color: white;
    color: black;

    height: fit-content;
    padding: .3em .5em;
    font-size: .9em;

    transition: background-color .3s ease;
}

.lastsale-options button:hover {
    border: 1px solid black;
    background-color: black;
    color: white;

    transition: background-color .3s ease;
}



@media screen and (max-width: 50em) {

    .itemdetails-details {
        flex-direction: column;
    }

    .itemdetails-tab {
        display: none !important;
    }
}
