.itemdetails-details-sizepanel {
    display: flex;
    flex-direction: column;

    border: 1px solid #CFCFCF;
    border-radius: .25em;

    padding: 1em;
}


.sizes-button {
    all: unset;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border: 1px solid #CFCFCF;
    border-radius: .25em;
    padding: 8px 12px;
}
.bid-buy-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

    font-size: 1em;
    gap: 5px;
    height: 3em;

    margin: 1.2em 0 ;
}

.bid-button {
    flex: 1 1 50%;

    font-weight: 600;

    border: 1px solid black;
    background-color: white;
    color: black;

    padding: .375em 1em;

    transition: background-color .3s ease;
}

.bid-button:hover {
    border: 1px solid black;
    background-color: black;
    color: white;

    transition: background-color .3s ease;
}

.buy-button {
    flex: 1 1 50%;

    font-weight: 600;

    border: 1px solid #006340;
    background-color: #006340;
    color: white;

    padding: .375em 1em;

    transition: background-color .3s ease;
}

.buy-button:hover {
    border: 1px solid #adc9bf;
    background-color: #adc9bf;
    color: white;

    transition: background-color .3s ease;
}

.current-size {
    font-weight: 600;
}

.sizepanel-divider {
    height: 1px;
    background-color: #CFCFCF;
    margin: 1.3em 0;
}

.sell-now {
    font-weight: 600;
    font-size: 1em;
    color: #006340;
}